 .img-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-sec img {
  height: 200px;
  width: 200px;
  border-radius: 10px;

}

.img-sec img:hover{
    transform: scale(1.1);
}

.para-container{
  text-align: center;
}

.para-container:hover{
   cursor: pointer;
   color: red;
}